.contentBox {
  width: 920px;
  margin-left: 200px;
  padding: 20px;
  height: 800px;
  background: #fff;
}
.contentBox .addText {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}
.contentBox .addInput {
  width: 500px;
  margin: auto;
  height: 300px;
}
.contentBox .addInput .inputContent {
  width: 400px;
  margin-bottom: 20px;
}
.contentBox .addInput .inputContent .inputContentText {
  width: 100px;
  text-align: right;
  line-height: 31px;
}
.contentBox .addInput .inputContent .inputContentInput {
  width: 300px;
}
