.changePassword {
  width: 1200px;
  height: 300px;
  margin: auto;
}
.changePassword .change_content {
  width: 500px;
  height: 300px;
  border: 1px solid #e5e5e5 ;
  margin: auto;
  margin-top: 100px;
}
.changePassword .change_content .changeText {
  height: 32px;
  margin-top: 20px;
  text-align: center;
}
.changePassword .change_content .eMailAll {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.changePassword .change_content .verifyImage {
  width: 300px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.changePassword .change_content .verifyImage .verifyImageInput {
  width: 180px;
}
.changePassword .change_content .verifyImage .verify {
  width: 110px;
  margin-left: 10px;
  height: 32px;
}
.changePassword .change_content .verifyImage .verify .validationImg {
  width: 100%;
}
.changePassword .change_content .getVerifyImage {
  width: 300px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.changePassword .change_content .getVerifyImage .getVerifyImageInput {
  width: 180px;
}
.changePassword .change_content .getVerifyImage .getSendBtn {
  background: #003f95;
  border: none;
  width: 110px;
  margin-left: 10px;
}
.changePassword .change_content .sendContent {
  width: 300px;
  margin: auto;
}
.changePassword .change_content .sendContent .sendBtn {
  background: #003f95;
  border: none;
  width: 300px;
}
