.user {
  width: 920px;
  height: 400px;
  margin-left: 180px;
}
.user .boxList {
  width: 350px;
  margin: auto;
  margin-bottom: 20px;
}
.user .boxList .boxText {
  width: 60px;
  line-height: 30px;
  text-align: right;
}
.user .boxList .getData {
  width: 250px;
  height: 32px;
  line-height: 30px;
}
