.contentBox {
    overflow: hidden;
    height: 600px;
    margin-left: 200px;
    .contentList{
        width: 920px;
        
    }
    .boxStatus{
        width: 320px;
        overflow: hidden;
        margin-bottom: 10px;
        li{
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
//          border: 1px solid red;
        }
        li:hover{
            border-bottom: 1px solid #09e;
        }
        .active{
             border-bottom: 1px solid #09e;
        }
    }
    
}

